<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.multibluetooth.multibluetooth">

    <!-- GPS 값 가져오기 위한 퍼미션 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- Bluetooth 사용하기 위한 퍼미션 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/iova_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity
            android:name=".MainMenu.MainMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Driving.DrivingActivity"/>

        <activity android:name=".SafeScore.SafeScoreActivity"/>

        <activity android:name=".Facebook.FacebookLogin"/>

        <!-- 운행시작 Dialog -->
        <activity android:name=".Driving.DriveStartDialog" android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"/>

        <!-- 블루투스 연결상태 Dialog -->
        <activity android:name=".MainMenu.BluetoothCheckDialog" android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"/>

        <!-- 블루투스 장치 검색 Dialog -->
        <activity
            android:name=".Driving.Bluetooth.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="장치를 선택하세요"
            android:theme="@android:style/Theme.Holo.Dialog"/>
    </application>

</manifest>